.root {
    -fx-background-image: url("Resources/Images/grass.jpg");
    -fx-background-size: cover;
    -fx-border-image-repeat: no-repeat;
}

#btn_solveMaze {
    -fx-text-fill: antiquewhite;
    -fx-font-family: "Arial Narrow";
    -fx-font-size: 100%;
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(dimgrey, seagreen);
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);

}

