.root {
    -fx-background-image: url("Resources/Images/background.png");
    -fx-background-size: cover;
    -fx-border-image-repeat: no-repeat;
}

#mazeDisplayer{
    -fx-background-image: url("Resources/Images/background.png");
    -fx-background-size: cover;
    -fx-border-image-repeat: no-repeat;
}

.tooltip {
    -fx-background-color: gray;
    -fx-font-family: "Times New Roman";
    -fx-font-size: 100%;
}

#speakerImage {
    -fx-font-family: "Times New Roman";
    -fx-font-size: 100%;
    -fx-font-weight: bold;
    -fx-background-color: transparent;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
    -fx-max-height: 0%;
    -fx-max-width: 100%;
    -fx-border-radius: 50%;
    -fx-padding: 100%;
}

#btn_zoomBack {
    -fx-font-family: "Times New Roman";
    -fx-font-size: 100%;
    -fx-font-weight: bold;
    -fx-background-color: transparent;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
    -fx-max-height: 0%;
    -fx-max-width: 100%;
    -fx-border-radius: 50%;
    -fx-padding: 100%;
}

#btn_solveMaze {
    -fx-text-fill: #484724;
    -fx-font-family: "Times New Roman";
    -fx-font-size: 120%;
    -fx-font-weight: bolder;
    -fx-background-image: url("Resources/Images/texureButton.jpg");
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
}


#bottom{
    -fx-background-image: url("Resources/Images/texureBar.jpg");
}
